<!DOCTYPE html>
<html>
<%- include("../partials/head",{titulo:"Ingresa a tu cuenta",css:"login.css"}); -%>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="centrar">
                    <form method="POST" action="/user/login" id="create_customer" accept-charset="UTF-8">

                        <h1> Ingresa a tu Cuenta</h1>
                        <div class="caja_de_registro ingresar">
                            <div class="texto_left">
                                <div class="register_input">
                                    <label for="Correo">Correo</label>
                                    <input type="email" name="customer[email]" id="Email" class="" autocomplete="on"
                                        required>
                                </div>
                                <div class="register_input">
                                    <label for="Contrasena">Contraseña</label>
                                    <input type="password" name="customer[password]" id="CreatePassword" class=""
                                        autocomplete="on" required>
                                </div>
                                <p class="pass_underline">¿Olvidaste tu contraseña?</p>
                            </div>
                            <p>
                                <button type="submit" value="Ingresar" class="boton">Ingresar</button>
                            </p>
                            <p class="texto_chico">¿Aún no tienes cuenta?<a href="/user/register"
                                    class="pass_underline">Crea una</a></p>
                        </div>
                    </form>
                </div>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>