<!DOCTYPE html>
<html>
<%- include("../partials/head",{titulo:"Bakeit",css:"reset.css"}); -%>

    <body>
        <%- include('../partials/header') %>
            <main data-aos="zoom-out-up">
                <div class="centrar">
                    <form method="POST" action="/user/resetPassword" id="reset" accept-charset="UTF-8">

                        <h1> Recuperar contraseña</h1>
                        <div class="caja_de_registro ingresar">
                            <div class="texto_left">
                                <div class="register_input">
                                    <label for="reset">Ingresa tu correo para restablecer tu contraseña</label>
                                    <div class="email_input">
                                        <i class="far fa-envelope"></i>
                                        <input type="email" name="correo" id="Email" class="" autocomplete="on"
                                            placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <button type="submit" value="" class="boton">Enviar correo</button>
                            </p>
                        </div>
                    </form>
                </div>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>