<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>BakeIt</title>
</head>
<body>
    
    <header>
        <nav>
            <div>                
                <ul class="nav-opciones">
                    <li><a>Opcion</a></li>
                    <li><a>Opcion</a></li>
                    <li>BakeIt</li>
                    <li><a>Opcion</a></li>
                    <li><a>Opcion</a></li>
                </ul>
                <div class="nav-menu">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="far fa-user"></i>
                </div>
            </div>            
        </nav>
    </header>
    <main>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </main>
    <footer>

    </footer>

</body>
</html>