<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Crea tu cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <form method="" action="/" id="create_customer" accept-charset="UTF-8">

                <h1> Ingresa a tu Cuenta</h1>
                <div class="caja_de_registro ingresar">
                    <div class="texto_left">
                        <div class="register_input">
                            <label for="Correo">Correo</label>
                            <input type="email" name="customer[email]" id="Email" class="" autocomplete="off">
                        </div>
                        <div class="register_input">
                            <label for="Contrasena">Contraseña</label>
                            <input type="password" name="customer[password]" id="CreatePassword" class="">
                        </div>
                        <p class="pass_underline">¿Olvdaste tu contraseña?</p>
                    </div>
                    <p>
                        <button type="submit" value="Ingresar" class="boton">Ingresar</button>
                    </p>
                    <p class="texto_chico">¿Aún no tienes cuenta?<a href="/register.html" class="pass_underline">Crea una</a></p>
                </div>
            </form>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>