<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Carrito de compras</title>
    <link href="/css/productCart.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
</head>
<body>
    <header>
        <nav>
            <div class="barra-navegacion">  
                <ul class="barra-navegacion-elementos">
                    <li class="nav-elemento">
                      <a href="#">Opción</a>
                    </li>
                    <li class="nav-elemento">
                        <a href="#">Opción</a>
                      </li>
                    <li class="nav-element-logo">
                        <a href="#"><img class="logo" src="/media/img/logo.svg"></a>
                      </li>
                    <li class="nav-elemento">
                      <a href="#">Opción</a>
                    </li>
                    <li class="nav-elemento">
                        <a href="#">Opción</a>
                    </li>
                </ul>
            </div> 
            <div class="menu">
                <a class="blanco" href="/product-cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="blanco" href="/login"><i class="far fa-user"></i></a>
            </div>          
        </nav>
    </header>
    <aside>
        <div class="barra-superior">
            <p class="en-linea">Carrito de compras</p>
            <button type="button" class="boton-cerrar"><i class="fas fa-times"></i></button>
        </div>
        <div class="barra-separacion"></div>
        <div class="listado-productos">
            <article class="producto">
                <img src="/media/img/noDisponible.png" alt="Logo">
                <div class="detalles">
                    <p class="nombre">Postre</p>
                    <p class="precio">$0.00</p>
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button">-</button>
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button">+</button>
                    </div>
                </div>
                <button type="button" class="boton-eliminar"><i class="far fa-trash-alt"></i></button>
            </article>
            <article class="producto">
                <img src="/media/img/noDisponible.png" alt="Logo">
                <div class="detalles">
                    <p class="nombre">Postre</p>
                    <p class="precio">$0.00</p>
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button">-</button>
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button">+</button>
                    </div>
                </div>
                <button type="button" class="boton-eliminar"><i class="far fa-trash-alt"></i></button>
            </article>
        </div>
        <div class="barra-separacion"></div>
        <div class="barra-inferior">
            <div clase="total">
                <p class="en-linea">Total:</p>
                <p class="en-linea">$0.00</p>
            </div>
            <button type="button" class="boton-principal">Comprar</button>
        </div>
    </aside>
    <footer>
        <div class="terminos-de-uso">
            <small>©2021 BakeIt. All rights reserved.</small>
        </div>
        <div class="redes-sociales">
            <a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
            <a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a>
            <a href="http://www.instagram.com"><i class="fab fa-instagram-square"></i></a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>