<header>
    <nav>
        <div class="nav-header">
            <ul class="nav justify-content-center align-items-center">
                <li class="nav-item">
                    <a class="nav-link blanco" href="#">Opci贸n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blanco" href="#">Opci贸n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blanco" href="/"><img class="logo" src="/media/img/logo.svg"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blanco" href="#">Opci贸n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blanco" href="#">Opci贸n</a>
                </li>
            </ul>
            <div class="nav-menu">
                <a class="blanco" href="/product-cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="blanco" href="/login"><i class="far fa-user"></i></a>
                <a class="blanco" href="/products-edit"><i class="far fa-edit"></i></a>
            </div>
        </div>
    </nav>
</header>