<head>
    <meta charset="UTF-8">
    <title>
        <%= (titulo!=undefined)?titulo:"BakeIt - Bienvenidxs"%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="BakeIt, postres, kits, cocinar">
    <meta name="description"
        content="Bake It se enfoca a la venta de reposteria DIY y kits de accesorios para complementar cualquier clase de evento.">
    <meta name="author" content="Jesús Gutiérrez, Tania Tovar y Marcela Barajas">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--AOS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="/css/partials.css">
    <% if(css!=undefined){%>
        <link rel="stylesheet" href=<%="/css/" +css%>>
    <%}%>
</head>