:root {
  --azul-muy-oscuro: #0c1830;
  --azul-oscuro: #162D59;
  --azul-claro: #3868A6;
  --amarillo: #F2B950;
  --rojo: #BF3E21;
  --blanco: #F2F2F2;
  --negro: #000000;
}

.panel-basico{
  border-left: .25rem solid var(--amarillo) !important;
  color: var(--azul-claro)
}

/*----------PANEL USUARIOS ----------*/

.titulo-usuario{
  font-size: 1.25rem;
  color:#BF3E21;
}
.label-usuario{
  font-size: 1rem;
  color: var(--azul-muy-oscuro);
}
.titulo-categoria{
  font-size: 0.75rem;  
}
.label-categoria{
  font-size: 1rem;
  color: var(--azul-muy-oscuro);
}
.panel-usuario{
  border: 1px solid rgba(0,0,0,0.2) !important;;
  border-left: .25rem solid var(--rojo) !important;
  color: var(--azul-claro)
}
.panel-usuario img{
  height: auto;
  width: 75%;
}

/*----------PANEL PRODUCTOS ----------*/

.titulo-producto{
  font-size: 1.25rem;
  color:#BF3E21;
}
.label-producto{
  font-size: 1rem;
  color: var(--azul-muy-oscuro);
}
.descripcion-producto{
  font-size: 0.75rem;
  color: var(--azul-muy-oscuro);
}
.panel-producto{
  border: 1px solid rgba(0,0,0,0.2) !important;;
  border-left: .25rem solid var(--azul-claro) !important;
  color: var(--azul-claro)
}
.panel-categoria{
  border: 1px solid rgba(0,0,0,0.2) !important;;
  color: var(--azul-claro)
}
.panel-producto img{
  height: auto;
  width: 75%;
}

/*---------- NAVBAR ----------*/

.navbar-nav .icon-dashboard{
  color: var(--blanco) !important;
}

.navbar-nav .navbar-logo{
  width: auto;
  height: clamp(1rem,20vw,8rem);
}

/*---------- ENCABEZADO ----------*/

.seccion-encabezado{
  background-color: #ffffff;  
  min-height: 10vh;
}

/*---------- GENERALES ----------*/

.txt-azul-oscuro{
  color: var(--azul-oscuro);
}
.txt-azul-claro{
  color: var(--azul-claro);
}
.txt-rojo{
  color: var(--rojo);
}
.txt-blanco{
  color: var(--blanco);
}

.bkg-azul-claro{
  background-color: var(--azul-claro);
}
.bkg-amarillo{
  background-color: var(--amarillo);
}