<header>
    <nav>
        <div class="barra-navegacion">
            <ul class="barra-navegacion-elementos">
                <li class="nav-elemento">
                    <a href="#">Opci贸n</a>
                </li>
                <li class="nav-elemento">
                    <a href="#">Opci贸n</a>
                </li>
                <li class="nav-element-logo">
                    <a href="/"><img class="logo" src="/media/img/logo.svg"></a>
                </li>
                <li class="nav-elemento">
                    <a href="#">Opci贸n</a>
                </li>
                <li class="nav-elemento">
                    <a href="#">Opci贸n</a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <a class="blanco" href="/product-cart"><i class="fas fa-shopping-cart"></i></a>
            <a class="blanco" href="/login"><i class="far fa-user"></i></a>
        </div>
    </nav>
</header>