* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body, html {
  margin: 0px;
  padding: 0px;
  border: none;
}

main {
  min-height: 80vh;
}

h1 {
  color: #162D59;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 60px 0px 0px 0px;
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.image {
  width: 70%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
}

.description {
  font-size: 15px;
}

@media (min-width: 750px) {
  h1 {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .content {
    flex-wrap: nowrap;
    align-items: center;
  }

  .image {
    max-width: 50%;
    width: auto;
    height: auto;
  }

  .description {
    max-width: 50%;
    width: auto;
    height: auto;
  }
}