:root {
  --azul-muy-oscuro: #0c1830;
  --azul-oscuro: #162D59;
  --azul-claro: #3868A6;
  --amarillo: #F2B950;
  --rojo: #BF3E21;
  --blanco: #F2F2F2;
  --negro: #000000;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body, html {
    margin: 0px;
    padding: 0px;
    border: none;
  }

  main {
    min-height: 80vh;
    background-color: var(--blanco);
  }

  h1 {
    color: #162D59;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 20px 0px;
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }

  .integrantes {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }

  .image {
    width: 70%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
  }

  .name {
    font-weight: bold;
    border: var(--azul-claro);
    border-width: medium;
    border-style: solid dotted;
    color: var(--azul-claro);
    font-size: 18px;
  }

  .definition {
    font-size: 15px;
  }

  .person {
    padding-bottom: 25px;
  }

@media (min-width: 361px) {
  .image {
    width: 50%;
  }
}

@media (min-width: 750px) {
  h1 {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .integrantes {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
  }

  .person {
    padding: 0px 20px;
    max-width: 30%;
  }

  .name {
    font-size: 22px;
  }
}