:root {
    --azul-oscuro: #162D59;
    --azul-claro: #3868A6;
    --amarillo: #F2B950;
    --rojo: #BF3E21;
    --blanco: #F2F2F2;
    --negro: #000000;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
}

/* header */
header {
    height: 10vh;
    background-color: var(--amarillo);
}

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-between;
}

.logo {
    height: 10vh;
    width: auto;
    padding: 0px 15px;
}

.barra-navegacion-elementos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: center;
}

.barra-navegacion-elementos a {
    text-decoration: none;
    display: inline-block;
    color: var(--blanco);
}

.menu {
    display: flex;
    width: 15vw;
    justify-content: center;
}

.menu i {
    padding: 0 5px;
    color: var(--blanco);
}

.nav-elemento {
    display: none;
    padding: 15px;
}

/* main */
main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--blanco);
    min-height: 78vh;
}

img {
    width: 100%;
}

#producto-imagen2, #producto-imagen3, #producto-imagen4 {
    display: none;
}

.precio {
    margin-top: 0px;
    font-style: italic;
}

.nombre {
    margin-bottom: 2px;
    font-weight: bold;
}

.porciones i {
    display: none;
}

.boton-principal {
    background-color: var(--azul-claro);
    color: var(--blanco);
    height: 50px;
    border-color: var(--azul-claro);
    border-radius: 5px;
    width: 100%;
    border-style: none;
}

.boton {
    background-color: var(--amarillo);
    color: var(--negro);
    height: 40px;
    width: 50%;
    border-color: var(--amarillo);
    border-radius: 5px;
    margin: 0 25%;
    border-style: none;
}

.ocasion-especial {
    background-color: var(--azul-oscuro);
    margin: 20px 0px;
    color: var(--blanco); 
}

.ocasion-especial h2 {
    padding: 20px 10px 0px 10px;
    font-family: 'Clicker Script', cursive;
    text-align: center;
    margin: 0px;
    font-size: 40px;
    line-height: 44px;
}

.ocasion-especial .subtitulo {
    margin: 5px 10px 20px 10px;
    text-align: center;
}

.kits {
    margin: 20px 0px;
}

.kit-ocasion-especial {
    width: 85%;
    margin: 0 auto;
    padding: 15px 0px;
    text-align: center;
}

.barra-separacion {
    background-color: var(--blanco);
    height: 2px;
    width: 85%;
    margin: 0 auto;
}

/* footer */
footer {
    background-color: var(--azul-claro);
    padding: 0px 20px;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 10vh;
}

.terminos-de-uso {
    width: 50%;
}

.redes-sociales {
    width: 50%;
    text-align: end;
}

.redes-sociales i {
    color: var(--blanco);
    font-size: 25px;
    padding: 0px 5px;
}

@media (min-width: 361px) {
    main {
        padding: 20px 40px;
    }

    #producto-imagen2 {
        display: inline-block;
    }

    .producto img {
        width: 48%;
        margin: 12px 0px;
    }

    .producto-imagenes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .porciones i {
        display: block;
        font-size: 30px;
        margin: 0 auto;
    }

    .contenido-caja {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contenido-caja p {
        width: 100%;
        margin: 0;
    }

    .porciones {
        padding: 0px 20px;
        width: 35%;
        text-align: center;
        font-size: 14px;
    }

    .boton-principal {
        margin-top: 10px;
    }

    .kits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
    }

    .kit-ocasion-especial {
        width: 48%;
        margin: 0;
    }
}

@media (min-width: 530px) {
    .nav-elemento {
        display: inline-block;
    }

    .barra-navegacion-elementos {
        width: 85vw;
    }

    .menu {
        width: 10vw;
    }
}

@media (min-width: 769px) {
    main {
        padding: 40px 100px;
    }

    .producto {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #producto-imagen3, #producto-imagen4 {
        display: inline-block;
    }

    .producto-imagenes {
        width: 48%;
    }

    .producto-detalles {
        width: 48%;
    }

    .kit-ocasion-especial {
        width: 23%;
    }
}