<!DOCTYPE html>
<html>
<%- include("./partials/head",{titulo:"BakeIt",css:"galeria.css"}); -%>   
<body>
    <%- include('./partials/header') %>
    <main class="vh-100">
        

    </main>
    <%- include('./partials/footer') %>
</body>

</html>