<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"Bienvenidxs a BakeIt",css:"index.css"}); -%> 
<body>
    <%- include("./partials/header"); -%> 
    <main>

        <section class="seccion-presentacion">
            <div class="container-fluid panel">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel-row">
                            <img class="presentacion-imagen" src="/media/img/logo.svg">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel-row">
                            <h2 class="text-center mb-3">Nuestra Historia</h2>
                            <p class="text-center">
                                
                              Somos un grupo de personas apasionadas en la preparación de reposteria, personas que quieran cocinar de una manera sencilla postres para un evento especial y personas que requieran de artículos para complementar y amenizar sus momentos especiales.<br>
                              Es por eso que decidimos realizar una plataforma web enfocada en la venta de repostería DIY y kits de accesorios para complementar eventos especiales.

                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>