<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"Bienvenidxs a BakeIt",css:"history.css"}); -%>

    <body>
        <%- include("./partials/header"); -%>
            <main>
                <h1>Nuestra Historia</h1>
                <div class="content">
                    <img class="image" src="/media/img/BakeIT-2.png">
                    <p class="description">
                        Bakeit inicia como un grupo de personas apasionadas por la repostería, con ganas de compartir
                        esta experiencia con más personas.<br><br>Nuestro equipo es consciente del ritmo de vida que
                        llevamos todos hoy en dia, y deseabamos dar una opción a todas esas personas que quieran cocinar
                        de una manera sencilla postres para cualquier evento especial, asi como personas que requieran
                        de artículos para complementar y amenizar sus momentos especiales.<br><br>Es por eso que
                        decidimos realizar una plataforma web enfocada en la venta de repostería DIY y kits de
                        accesorios para complementar eventos especiales.
                    </p>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>