<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"Bienvenidxs a BakeIt",css:"history.css"}); -%> 
<body>
    <%- include("./partials/header"); -%> 
    <main>

        <section class="seccion-presentacion">
            <div class="container-fluid panel">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel-row">
                            <img class="presentacion-imagen" src="/media/img/logo.svg">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel-row text-history">
                            <h2 class="mb-3">Nuestra Historia</h2>
                            <p class="">
                              
                            Bakeit inicia como un grupo de personas apasionadas por la repostería, con ganas de compartir esta experiencia con más personas.<br>
                            <br>Nuestro equipo es consciente del ritmo de vida que llevamos todos hoy en dia, y deseabamos dar una opción a todas esas personas que quieran cocinar de una manera sencilla postres para cualquier evento especial, asi como personas que requieran de artículos para complementar y amenizar sus momentos especiales.<br>
                            <br>Es por eso que decidimos realizar una plataforma web enfocada en la venta de repostería DIY y kits de accesorios para complementar eventos especiales.

                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>