<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"Bienvenidxs a BakeIt",css:"index.css"}); -%> 
<body>
    <%- include("./partials/header"); -%> 
    <main>
        <section class="seccion-portada">
            <div class="container-fluid portada">
                <div id="portada-galeria" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#portada-galeria" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#portada-galeria" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#portada-galeria" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner h-100">
                        <div class="carousel-item  h-100 active">
                            <div class="portada-item bkg1">

                            </div>
                            <div class="carousel-caption contenido">
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <button class="btn btn-outline-blanco txt5 text-center mt-3 p-3 px-5"><h1>Lorem ipsum</h1></button>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <div class="portada-item bkg2">

                            </div>
                            <div class="carousel-caption contenido">
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <button class="btn btn-outline-blanco txt5 text-center mt-3 p-3 px-5"><h1>Lorem ipsum</h1></button>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <div class="portada-item bkg3">

                            </div>
                            <div class="carousel-caption contenido">
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <button class="btn btn-outline-blanco txt5 text-center mt-3 p-3 px-5"><h1>Lorem ipsum</h1></button>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#portada-galeria" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#portada-galeria" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="seccion-joyas">
            <div class="container-fluid panel">
                <div class="container-sm outline">
                    <div class="d-flex align-content-center justify-content-center flex-column">
                        <h2 class="text-center">LAS JOYAS DE LA CORONA</h2>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="container-fluid joya">
                                    <div class="container-fluid h-75 p-0">
                                        <div class="w-100 h-100 position-relative">
                                            <h3 class="joya-texto">Lorem Ipsum</h3>
                                            <img class="joya-imagen" src="/media/img/placeholder.png">
                                        </div>
                                    </div>
                                    <h5 class="text-decoration-underline mt-6">Lorem Ipsum</h5>
                                    <a class="btn btn-lg bkg1 mt-5 px-5 py-2" href="/product-detail">
                                        <p class="text-center txtblanco m-0 p-0">Añadir</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="container-fluid joya">
                                    <div class="container-fluid h-75 p-0">
                                        <div class="w-100 h-100 position-relative">
                                            <h3 class="joya-texto">Lorem Ipsum</h3>
                                            <img class="joya-imagen" src="/media/img/placeholder.png">
                                        </div>
                                    </div>
                                    <h5 class="text-decoration-underline mt-6">Lorem Ipsum</h5>
                                    <a class="btn btn-lg bkg1 mt-5 px-5 py-2" href="/product-detail">
                                        <p class="text-center txtblanco m-0 p-0">Añadir</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="container-fluid joya">
                                    <div class="container-fluid h-75 p-0">
                                        <div class="w-100 h-100 position-relative">
                                            <h3 class="joya-texto">Lorem Ipsum</h3>
                                            <img class="joya-imagen" src="/media/img/placeholder.png">
                                        </div>
                                    </div>
                                    <h5 class="text-decoration-underline mt-6">Lorem Ipsum</h5>
                                    <a class="btn btn-lg bkg1 mt-5 px-5 py-2" href="/product-detail">
                                        <p class="text-center txtblanco m-0 p-0">Añadir</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="seccion-presentacion">
            <div class="container-fluid panel">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel-row">
                            <img class="presentacion-imagen" src="/media/img/placeholder.png">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel-row">
                            <h2 class="text-center mb-3">¿Quiénes somos? ¿Qué es BakeIt?</h2>
                            <p class="text-center my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed eleifend mi. Duis et molestie eros. Pellentesque tellus mauris, tempus rhoncus cursus ac, ullamcorper eu arcu. </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <button class="btn btn-outline-3 text-center mt-3 mx-3 p-2 px-4"><p class="m-0">Nuestra historia</p></button>
                                <button class="btn btn-outline-3 text-center mt-3 mx-3 p-2 px-4"><p class="m-0">Conocernos más</p></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="seccion-galeria">
            <div class="panel">
                <div class="titulo">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam, nisl a porttitor pharetra</h5>
                </div>
                <div class="contenido">
                    <a class="btn btn-lg bkg1 mt-5 px-5 py-2" href="/galeria">
                        <h4 class="text-center txtblanco m-0 p-0">Galeria</h4>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <%- include("./partials/indexfooter"); -%> 
</body>
</html>