<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"¡Conoce al equipo!",css:"knowUs.css"}); -%>

    <body>
        <%- include("./partials/header"); -%>
            <main data-aos="zoom-out-up">
                <h1>¡Conoce al equipo de BakeIt!</h1>
                <div class="integrantes">
                    <section class="person">
                        <h2 class="name">Marcela Barajas</h2>
                        <img class="image" src="/media/avatars/img-1627385019283.jpg">
                        <p class="definition">Estudiante de 7mo semestre de la Ing. en Negocios y Tecnologías de
                            Información. Ávida
                            lectora, bailarina de salsa, escritora tentativa y dibujante con múltiples grados de
                            éxito.
                        </p>
                    </section>
                    <section class="person">
                        <h2 class="name">Jesús Gutiérrez</h2>
                        <img class="image" src="/media/avatars/img-1627384991827.jpg">
                        <p class="definition">Egresado de la Licenciatura en Ingeniería en Mecatrónica,
                            especializado en
                            el area de IA y
                            Desarrollo web. Actualmente trabajo como desarrollador lider full-stack en tecnologia
                            MERN
                            para el GrupoFlogo.</p>
                    </section>
                    <section class="person">
                        <h2 class="name">Tania Tovar</h2>
                        <img class="image" src="/media/avatars/img-1632270569299.JPG">
                        <p class="definition">Egresada de la Licenciatura en Adimistración de TI, actualmente
                            trabajo
                            como Quality Assurance en una empresa Yucateca llamada Sunwise.</p>
                    </section>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>