<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"Bienvenidxs a BakeIt",css:"knowUs.css"}); -%> 
<body>
    <%- include("./partials/header"); -%> 
    <main>
        <section class="seccion-joyas">
            <div class="container-fluid panel">
                <div class="container-sm outline">
                    <div class="d-flex align-content-center justify-content-center flex-column">
                        <h2 class="text-center">Nuestro Equipo</h2>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <h5 class="text-center nombres">
                                    Marcela Barajas
                                </h5>
                                <div class="container-fluid joya">
                                    <div class="container-fluid h-75 p-0">
                                        <div class="w-100 h-100 position-relative">
                                            <img class="joya-imagen" src="/media/avatars/img-1627385019283.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="margint-3 text">Soy estudiante de 6to semestre de la Ing. en Negocios y Tecnologías de Información. Ávida lectora, bailarina de salsa, escritora tentativa y dibujante con múltiples grados de éxito.</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <h5 class="text-center nombres">
                                    Jesús Gutiérrez
                                </h5>
                                <div class="container-fluid joya">
                                    <div class="container-fluid h-75 p-0">
                                        <div class="w-100 h-100 position-relative">
                                            <img class="joya-imagen" src="/media/avatars/img-1627384991827.jpg">
                                        </div>
                                    </div>
                                </div>
                                <dic>
                                    <h5 class="margint-3 text">Soy egresado de la Licenciatura en Ingeniería en Mecatrónica, especializado en el area de IA y Desarrollo web. Actualmente trabajo como desarrollador lider full-stack en tecnologia MERN para el GrupoFlogo.</h5>
                                </dic>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <h5 class="text-center nombres">
                                    Tania Tovar
                                </h5>
                                <div class="container-fluid joya">
                                    <div class="container-fluid h-75 p-0">
                                        <div class="w-100 h-100 position-relative">
                                         
                                            <img class="joya-imagen" src="/media/avatars/img-1632270569299.JPG">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="margint-3 text">Soy egresada de la Licenciatura en Adimistración de TI, actualmente trabajo como Quality Assurance en una empresa Yucateca llamada Sunwise.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <%- include('./partials/footer') %>
</body>
</html>