<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"Detalle del producto",css:"productDetail.css"}); -%> 
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="producto">
            <div class="producto-imagenes">
                <img src="/media/img/noDisponible.png" alt="Imagen del producto" id="producto-imagen1">
                <img src="/media/img/noDisponible.png" alt="Imagen del producto" id="producto-imagen2">
                <img src="/media/img/noDisponible.png" alt="Imagen del producto" id="producto-imagen3">
                <img src="/media/img/noDisponible.png" alt="Imagen del producto" id="producto-imagen4">
            </div>
            <div class="producto-detalles">
                <h1 class="nombre">Nombre del postre</h1>
                <p class="precio">$0.00</p>
                <p class="descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur minus odio quod cumque quibusdam saepe repellendus, doloremque reiciendis aspernatur, laborum itaque rerum recusandae earum perferendis laboriosam.</p>

                <div class="contenido-caja">
                    <p>La caja incluye:</p>
                    <ul>
                        <li>Elemento 1</li>
                        <li>Elemento 2</li>
                        <li>Elemento 3</li>
                        <li>Elemento 4</li>
                        <li>Elemento 5</li>
                    </ul>
                    <div class="porciones">
                        <i class="fab fa-dropbox"></i>
                        <p>Porciones: #</p>
                    </div>
                </div>
                <button type="button" class="boton-principal">Añadir</button>
            </div>
        </section>
        <section class="ocasion-especial">
            <h2>¿Acaso es una ocasión especial?</h2>
            <p class="subtitulo">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="barra-separacion"></div>
            <div class="kits">
                <article class="kit-ocasion-especial">
                    <img src="/media/img/noDisponible.png" alt="Imagen del producto">
                    <p class="nombre">Kit</p>
                    <p class="precio">$0.00</p>
                    <button type="button" class="boton">Añadir</button>
                </article>
                <article class="kit-ocasion-especial">
                    <img src="/media/img/noDisponible.png" alt="Imagen del producto">
                    <p class="nombre">Kit</p>
                    <p class="precio">$0.00</p>
                    <button type="button" class="boton">Añadir</button>
                </article>
                <article class="kit-ocasion-especial">
                    <img src="/media/img/noDisponible.png" alt="Imagen del producto">
                    <p class="nombre">Kit</p>
                    <p class="precio">$0.00</p>
                    <button type="button" class="boton">Añadir</button>
                </article>
                <article class="kit-ocasion-especial">
                    <img src="/media/img/noDisponible.png" alt="Imagen del producto">
                    <p class="nombre">Kit</p>
                    <p class="precio">$0.00</p>
                    <button type="button" class="boton">Añadir</button>
                </article>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>