<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{titulo:"Bienvenidxs a BakeIt",css:"productEdit.css"}); -%> 
<body>
    <%- include("./partials/header"); -%> 
    <main>
        <section class="seccion-items">
       
        </section>
        <section class="seccion-control">
            
        </section>        
    </main>
    <%- include("./partials/footer"); -%> 
</body>
</html>